@{
    ViewData["Title"] = "Home Page";
}
@using GroceryListBuilder.Models
@model Meal

<div class="text-center">
    <h1 class="display-4">Welcome To The Grocery List Builder.</h1>
    <p>Lets make you a shopping list</a>.</p>

    @using (Html.BeginForm("RecipeIndex", "Meal", "Post"))
    {
        <div class="form-group">

            <label class="title" for="">Select a meal</label>
            <br />
            <select class="form-control" name="StrMeal" value="">
                
                
                    <option value="Taco">taco</option>
                    <option value="Pizza">pizza</option>
                    <option value="Enchilada">enchilada</option>
                    <option value="Burger">burger</option>
                    <option value="Crumble">crumble</option>
                    <option value="Pot Roast">pot roast</option>
                    <option value="Pancakes">pancakes</option>
                    <option value="Cake">cake</option>
                    <option value="Stroganoff">stroganoff</option>
                    <option value="Tart">tart</option>
                    <option value="Potatoes">potatoes</option>
                    <option value="Big Mac">big mac</option>
                    <option value="Banh Mi">banh mi</option>
                    <option value="Brownies">brownies</option>
                    <option value="Cookie">cookie</option>
                
                
                    
                
            </select>
        </div>
        <br /> <br />

        <br />

        <br />
        <input type="submit" value="Submit Choice" class="btn btn-primary" />



    }
</div>
