@{
    ViewData["Title"] = "Home Page";
}
@using GroceryListBuilder.Models
@model Meal

<div class="text-center">
    <h1 class="display-4">Welcome To The Grocery List Builder.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @using (Html.BeginForm("RecipeIndex", "Meal", "Post"))
    {
        <div class="form-group">

            <label class="title" for="">Select a meal</label>
            <br />
            <select class="form-control" name="StrMeal" value="">
                
                
                    <option value="Taco">taco</option>
                    <option value="Pizza">pizza</option>
                    <option value="Enchilada">enchilada</option>
                
                
                    
                
            </select>
        </div>
        <br /> <br />

        <br />

        <br />
        <input type="submit" value="Submit Choice" class="btn btn-primary" />



    }
</div>
